.button{
    background-color: gray;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: medium;
    font: bold;
    font-weight: bold;
    
}


.button:hover {
    background: cyan;
    opacity: 0.7;
    color: white;
}